* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Resets */
h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

p,
a {
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-lg {
  font-size: 1.563rem;
}

.text-md {
  font-size: 1.25rem;
}

.text-sm {
  font-size: 1rem;
}

.text-container-50 {
  max-width: 50%;
}

@media all and (max-width: 768px) {
  .text-container-50 {
    max-width: 90%;
  }
}
